# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
tsconfig.tsbuildinfo
*.tsbuildinfo

# Testing
coverage

# Turbo
.turbo

# pnpm
.pnpm-store/

# Cache
.cache
.temp

# Env files
.env
.env.*
!.env.example

# Temporary files
*.tmp
*.temp